.crystalImage {
    width: 200px;
    height: 200px;
  }

  /* General Elements*/
body{
    background-image: url("https://github.com/stuttskyle/unit-4-game/blob/master/assets/images/background.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
}
.row{
	background-color: white;
	margin: 10px;
	border: solid 2px purple;
	padding: 30px;
}
h1, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}

h2 {
    padding-left: 40px;
}

p {
    font-weight: bold;
}